<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="./assets/images/Asset 1.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style-game.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">

    <title>Rock Paper Scissors</title>
</head>

<body>
    <section class="main-game">
        <nav id="back-to-main">
            <div class="container-fluid" id="back-to-main-container">
                <a href="http://localhost:3000" id="back-to-main-btn"> &lt; </a> <img id="main-game-ico" src="assets/Asset 1.jpg">
                <span id="main-game-header">ROCK PAPER SCISSORS</span>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="container-user">
                        <span class="player-head" id="user-head"> PLAYER 1 </span>
                        <img class="user-rps-ico" id="user-rock" src="assets/batu.png">
                        <img class="user-rps-ico" id="user-paper" src="assets/kertas.png">
                        <img class="user-rps-ico" id="user-scissors" src="assets/gunting.png">
                    </div>

                </div>

                <div class="col-4 container-log">
                    <div id="container-log">
                        <span id="log-txt">VS</span>
                    </div>
                </div>

                <div class="col-4">
                    <div class="container-comp">
                        <span class="player-head" id="comp-head"> COM </span>
                        <img class="comp-rps-ico" id="comp-rock" src="assets/batu.png">
                        <img class="comp-rps-ico" id="comp-paper" src="assets/kertas.png">
                        <img class="comp-rps-ico" id="comp-scissors" src="assets/gunting.png">
                    </div>
                </div>

            </div>

            <div class="container-refresh">
                <img class="refresh-btn" id="refresh-btn" src="assets/refresh.png">

              
            </div>

        
    </section>

    <script src="/js/game.js" type="text/javascript"></script>
    
</body>

</html>