<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Font -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="/css/style-home.css">


    <title>Challenge Chapter 3!</title>
</head>

<body>

    

    <nav class="navbar navbar-default navbar-expand-lg navbar-dark bg-dark" id="nav-custom">
        <div class="container-sm">
            <a class="navbar-brand" href="#">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About me</a>
                    </li>
                </ul>

                <!-- Right-aligned nav -->

                <ul class="nav justify-content-end" id="navBarRight">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>



    <section class="content" id="main-content">
        <div class="container-sm text-center">
            <h1>PLAY TRADITIONAL GAME</h1>
            <h3>Experience new traditional game play</h3>
            <a href="http://localhost:3000/game"><button type="button" class="btn btn-warning btn-lg col-2 mx-auto text-center">PLAY
                    NOW</button></a>
            <p>THE STORY</p>
            <img src="assets/scroll-down.svg" width="20px" height="8px" alt="Scroll Down">
        </div>
    </section>
    </div>


    <section class="about" id="about1">
        <div class="container-sm" id="about-sec">

            <h3 class="">What's so special?</h3>

            <div class="row">
                <div class="col">
                    <h1 class="">THE GAMES</h1>
                </div>
                <div class="col">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner" id="carousel">
                            <div class="carousel-item active">
                                <img src="assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <!-- <img src="assets/rockpaperstrategy-1600.jpg" alt="RPS" class="about-img" height=""> -->
                </div>
            </div>


        </div>

    </section>

    <section class="features" id="features1">
        <div class="containter-sm">

            <div class="row">
                <div class="col-6"></div>
                <div class="col-6">

                    <h3 class="text-light">What's so special?</h3>
                    <h1 class="text-light">FEATURES</h1>
                    <div style="margin-left:10px">
                        <div class="wrapper">
                            <ul class="StepProgress">
                                <div class="StepProgress-item current">
                                    <strong>TRADITIONAL GAMES</strong>
                                    <p> If you miss your childhood, we provide many traditional games here</p>
                                </div>
                                <div class="StepProgress-item"><strong>GAME SUIT</strong></div>
                                <div class="StepProgress-item "><strong>TBD</strong></div>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </section>

    <!-- Section System Requirements -->

    <section class="system-req" id="requirements1">

        <div class="container-sm">
            <h3 class="text-light text-center">Can My Computer Run this game?</h3>
            <div class="row">
                <div class="col-6">
                    <h1 class="text-light">system requirements</h1>
                    <div class="row mt-5" id="row-box">
                        <div class="col-6 border-bottom" id="box1">
                            <h4 class="">OS:</h4>
                            <p class="pb-3">Windows 7 64-bit only
                                (No OSX support at this time)
                            </p>
                        </div>
                        <div class="col-6 border-bottom">
                            <h4>PROCESSOR:</h4>
                            <p class="">Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ


                            </p>
                        </div>
                        <div class="col-6" id="box3">
                            <h4>MEMORY:</h4>
                            <p class="pb-3">4 GB RAM
                            </p>
                        </div>
                        <div class="col-6">
                            <h4>STORAGE:</h4>
                            <p class="">8 GB Available Space
                            </p>
                        </div>
                        <div class="col-12 border-top">
                            <h4>GRAPHICS:</h4>
                            <p class="pb-3">NVIDIA GeForce GTX 660 2GB or
                                AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
                            </p>
                        </div>


                    </div>

                </div>
            </div>
        </div> -->

        <!-- Section Top Scores -->

        <section class="top-scores" id="top-scores1">

            <div class="container-sm">
                <div class="row">
                    <div class="col-4" id="ts-content">
                        <h1 class="text-light">TOP SCORES</h1>
                        <p class="mt-4">This top score from various games provided on this platform
                        </p>
                        <button type="button" class="btn btn-warning btn-lg col-2 mx-auto text-center mt-4">See
                            More
                        </button>
                    </div>

                    <div class="col-8">
                        <div class="container-sm">
                            <div class="comment1">

                                <img src="assets/evan-lahti.jpg" id="img1" alt="" height="40" width="40">
                                <img src="assets/ellipse-orange.png" id="img2" alt="" height="40" width="40">


                                <img src="assets/twitter.svg" id="twitter" alt="">
                                <h4 class="float-right">Evan Lahti</h4>
                                <span class="text-light ">PC Gamer</span>
                                <p class="pt-2">“One of my gaming highlights of the year.”</p>
                                <p class="text-light pt-0" id="p-date">June 18, 2021</p>
                            </div>
                        </div>

                        <div class="comment2">

                            <img src="assets/jada-griffin.jpg" id="img1" alt="" height="40" width="40">
                            <img src="assets/ellipse-orange.png" id="img2" alt="" height="40" width="40">


                            <img src="assets/twitter.svg" id="twitter" alt="">
                            <h4 class="float-right">Jada Griffin </h4>
                            <span class="text-light ">Nerdreactor</span>
                            <p class="pt-2">“The next big thing in the world of streaming and survival games.”
                            </p>
                            <p class="text-light pt-0" id="p-date">July 10, 2021</p>
                        </div>

                        <div class="comment3">

                            <img src="assets/aaron-williams.jpg" id="img1" alt="" height="40" width="40">
                            <img src="assets/ellipse-orange.png" id="img2" alt="" height="40" width="40">


                            <img src="assets/twitter.svg" id="twitter" alt="">
                            <h4 class="float-right">Aaron Williams </h4>
                            <span class="text-light ">Uproxx</span>
                            <p class="pt-2">“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</p>
                            <p class="text-light pt-0" id="p-date">December 24, 2018</p>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <!-- Section Newsletter -->

        <section class="newsletter" id="newsletter1">
            <div class="container-sm">
                <div class="row">

                    <div class="col-6">

                        <img src="assets/skull.png" id="skull-image" alt="">

                    </div>

                    <div class="col-6">
                        <h3 class="text-light">Want to stay in <br>touch?</h3>
                        <h1 class="text-light">NEWSLETTER SUBSCRIBE </h1>
                        <p>In order to start receiving our news, all you have to do is enter your email address.
                            Everything else will be taken care of by us. We will send you emails containing information
                            about game. We don’t spam.</p>

                        <div class="row">
                            <div class="col-6">
                                <div class="box" id="form-box">
                                    <p class="text-muted" id="box-email">Your Email Adress</p>
                                    <span class="text-warning">youremail@binar.co.id</span>
                                </div>
                            </div>
                            <div class="col-6">
                                <button type="button" id="btn-subscribe" class="btn btn-warning">Subscribe Now</button>
                            </div>
                        </div>


                    </div>

                    <div class="container-sm d-flex justify-content-end" id="footer">
                        <div class="row">

                            <div class="col-12">
                                <div class="container" id="footer">
                                    <footer class="py-3 my-4">
                                        <ul class="nav justify-content-end border-bottom pb-3 mb-3">
                                            <li class="nav-item"><a href="#main-content"
                                                    class="nav-link px-2 text-light">MAIN</a>
                                            </li>
                                            <li class="nav-item"><a href="#about-sec"
                                                    class="nav-link px-2 text-light">ABOUT</a>
                                            </li>
                                            <li class="nav-item"><a href="#features1"
                                                    class="nav-link px-2 text-light">GAME
                                                    FEATURES</a></li>
                                            <li class="nav-item"><a href="#requirements1"
                                                    class="nav-link px-2 text-light">SYSTEM
                                                    REQUIREMENTS</a>
                                            </li>
                                            <li class="nav-item"><a href="#top-scores1"
                                                    class="nav-link px-2 text-light">QUOTES</a>
                                            </li>
                                            <li class="nav-item"><a href="#footer" class="nav-link px-2"> <img
                                                        src="assets/facebook.svg" alt=""></a>
                                            </li>
                                            <li class="nav-item"><a href="#footer" class="nav-link px-2"> <img
                                                        src="assets/twitter-white.svg" alt=""></a>
                                            </li>
                                            <li class="nav-item"><a href="#footer" class="nav-link px-2"> <img
                                                        src="assets/vector.svg" alt=""></a>
                                            </li>
                                            <li class="nav-item"><a href="#footer" class="nav-link px-2"> <img
                                                        src="assets/twitch.svg" alt=""></a>
                                            </li>

                                        </ul>


                                        <div class="col-12">
                                            <p class="text-left text-muted"
                                                style="margin:0; display:inline; float: left;"> © 2018
                                                Your Games, Inc. All Rights Reserved
                                            </p>
                                            <p class="text-end text-light" id="ptc"
                                                style="margin:0; display:inline; float: right;">Privacy
                                                Policy | Terms of Services | Code of
                                                Conduct
                                            </p>

                                        </div>
                                    </footer>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
        </section>


    </section>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>


</body>

</html>