body,
html {
    background-color: #9C835F;
    height: 100%;
}

section {
    min-height: 100%;
}

a {
    text-decoration: none;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.container-user,
.container-comp,
.container-log {
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
}

.user-rps-ico,
.comp-rps-ico {
    width: 150px;
    height: 150px;
    padding: 15px 15px;
    margin-top: 50px;
    border-radius: 25px;

    /*Ini kalo tombol dipilih
    background-color: #C4C4C4;
    */
}

.player-head {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: black;
}




.container-refresh {
    display: flex;
    justify-content: center;
}



#back-to-main {
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

#back-to-main-container {
    display: flex;
    align-items: center;
    gap: 25px;
}

#back-to-main-btn {
    color: #724C21;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    font-family: 'OpenSansRegular'
}

#main-game-ico {
    height: 72px;
    width: 72px;
}

#main-game-header {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;

    color: #F9B23D;
}

#container-log {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 271px;
    height: 166px;
    border-radius: 10px;

}

#log-txt {
    text-align: center;
    align-items: center;
    color: #BD0000;
    font-size: 144px;
    font-style: normal;
    font-weight: 700;
    font-family: 'OpenSansRegular';

}

#refresh-btn {
    height: 72px;
    width: 72px;
}

